.footer {
  &__top {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    padding-bottom  : rem-calc(25);
  }

  &__socials, &__logo {
    padding : rem-calc(12 0);
  }
}