@mixin icon-size($width, $height) {
  width  : rem-calc($width);
  height : rem-calc($height);
}

.footer {
  &__socials {
	@include breakpoint(large up) {
	  flex       : 1 1 auto;
	  text-align : right;
	}
	a {
	  display : inline-block;
	  padding : rem-calc(0 8);

	  &:hover {
		.icon {
		  fill : #000000;
		}
	  }

	  &:last-child {
		margin-right : 0;
	  }

	  .icon {
		width  : rem-calc(20);
		height : rem-calc(20);
		fill   : #a8aeb5;

		&.icon-habr {
		  width  : rem-calc(11);
		  height : rem-calc(13);
		}

		&.icon-telegram {
		  width  : rem-calc(16);
		  height : rem-calc(15);
		}

		&.icon-in {
		  @include icon-size(17, 16)
		}

		&.icon-instagram {
		  @include icon-size(17, 16)
		}

		&.icon-vk {
		  @include icon-size(21, 11)
		}

		&.icon-fb {
		  @include icon-size(9, 15)
		}

		&.icon-twitter {
		  @include icon-size(18, 14)
		}

		&.icon-youtube {
		  @include icon-size(19, 12)
		}

		&.icon-google-plus {
		  @include icon-size(25, 15)
		}
	  }

	}
  }
}