.footer {
  &__nav {
    margin         : 0 auto;
    display        : flex;
    align-items    : center;
    color          : #000000;
    font-size      : rem-calc(13);
    letter-spacing : rem-calc(1);

    @include breakpoint(large up) {
      margin : 0;
    }

    ul {
      list-style    : none;
      margin-left   : 0;
      margin-bottom : 0;
      padding       : 0;

      a {
        font-size   : inherit;
        color       : inherit;
        line-height : inherit;

        &:hover {
          color : #d90000;
        }
      }

      li {
        display    : block;
        text-align : center;
        padding    : rem-calc(0 7);

        @include breakpoint(medium up) {
          text-align : left;
          display    : inline-block;
        }
      }
    }
  }
}