@import "elements/b-input__title";

.b-input {
  position       : relative;
  display        : flex;
  margin         : rem-calc(0 -3);
  padding-bottom : rem-calc(25);

  .ordering-radio {

  }

  &.flex-wrap {
    flex-wrap : wrap;
  }
  > div {
    @include clearfix;
    flex   : 1 1 50%;
    margin : rem-calc(0 3);
  }

  &.-warning {
    input, input:focus {
      border-color : #ff8b8b !important;
    }
  }

  input[type='text'], textarea {
    padding          : rem-calc(6 22);
    border-radius    : rem-calc(25);
    border           : rem-calc(2) solid $green;
    background-color : #ffffff;
    color            : #000000;
    font-size        : rem-calc(12);
    box-shadow       : none !important;
    font-weight      : 500;
    letter-spacing   : rem-calc(0.3);
    margin-bottom    : 0;
    min-height       : rem-calc(50);

    &::placeholder {
      color : #999999;
    }

    &:focus {
      border-color : $secondary-color;
      color        : #000;
      border-width : rem-calc(2);
    }

    form.touched &:invalid {
      border-color : #ff8b8b !important;
      border-width : rem-calc(2);
    }
  }

  textarea {
    height         : rem-calc(150);
    padding-top    : rem-calc(23);
    padding-bottom : rem-calc(23);
    resize         : none;
  }

  ul.list {
    li:first-child {
      display : none;
    }
  }

}