/* show the placeholder when input has no content (no content = invalid) */
input[required]:invalid + label {
  display : inline-block;
}

.input-field {
  position : relative;
}

.form__field-error-mess {
  position    : absolute;
  left        : 0;
  bottom      : rem-calc(10);
  font-size   : rem-calc(13);
  line-height : 1;
  color       : #d6393e;
  font-style  : italic;

}

input[type='text'] + .form__field-error-mess {
  left : rem-calc(23);
}