
.main {
  flex : 1 1 auto;
  &.-padding-y {
    padding-top : rem-calc(40);
    @include breakpoint(medium up) {
      padding-top : rem-calc(60);
    }
    @include breakpoint(large up) {
      padding-top : rem-calc(85);
    }
  }
}

.b-title {
  margin         : 0 auto;
  width          : calc(100% - #{rem-calc(30)});
  position       : relative;
  color          : #000000;
  font-size      : rem-calc(16);
  font-weight    : 700;
  text-transform : uppercase;
  letter-spacing : rem-calc(2);
  padding-bottom : rem-calc(5);

  @include breakpoint(large up) {
    width : 100%;
  }

  &::after {
    content          : "";
    position         : absolute;
    display          : inline-block;
    width            : rem-calc(15);
    height           : rem-calc(3);
    background-color : $primary-color;
    left             : 0;
    bottom           : 0;
  }

  &.-margin-y {
    margin-bottom : rem-calc(45);
  }

  &.-large-offset {
    @include breakpoint(large up) {
      padding-left : rem-calc(60);
      &::after {
        left : rem-calc(60);
      }
    }
  }
}

.b-editor {
  color       : #000000;
  font-size   : rem-calc(14);
  line-height : rem-calc(23);

  .small {
    font-size   : rem-calc(11);
    line-height : rem-calc(13);
  }

  &.-product {
    padding-top    : rem-calc(8);
    padding-bottom : rem-calc(20);
  }

  P {
    color         : #000000;
    font-size     : rem-calc(14);
    line-height   : rem-calc(23);
    margin-bottom : rem-calc(14);
  }

  h1 {
    color          : #000000;
    font-weight    : 600;
    text-transform : uppercase;
    letter-spacing : rem-calc(1.5);
    @include breakpoint(large up) {
      margin-bottom : rem-calc(30);
      font-size     : rem-calc(24);
      line-height   : rem-calc(25);
    }
  }
}

.button {
  line-height    : rem-calc(12);
  text-transform : uppercase;
  letter-spacing : rem-calc(2);
  font-weight    : 600;
  box-shadow     : 0 rem-calc(5px 5px) rgba(2, 3, 3, 0.16);

  &.no-shadow {
    box-shadow : none;
  }

  &.text-tiny {
    font-weight : 400;
  }

  &:hover, &:focus {
    color      : $black;
    box-shadow : 0 rem-calc(5px 5px) rgba(2, 3, 3, 0.04);
  }

  &.alternate {
    background-color : #a8aeb5;

    &:hover {
      color            : white;
      background-color : $black;
    }
  }

  &.darker {
    font-weight      : 400;
    background-color : #434343;

    &:hover {
      color            : white;
      background-color : $black;
    }

  }

  &.tiny {
    padding : rem-calc(6 9);
  }
}

.ordering-radio {
  display : flex;

  label {
    color          : #000000;
    font-size      : rem-calc(11);
    line-height    : rem-calc(20);
    text-transform : uppercase;
    letter-spacing : rem-calc(1.4);

    &::after {
      top : rem-calc(4);
    }

    &::before {
      top : rem-calc(-2)
    }
  }

  &.disabled {
    opacity : .4;

    input[type='radio'] {
      &::after {
        border-color : black;
      }

      &::before {
        background-color : black;
      }
    }
  }
}


input[type='radio'] {
  margin : 0 !important;
}


