.b-checkbox {
  color          : #919191;
  font-size      : rem-calc(12);
  font-weight    : 600;
  text-transform : uppercase;
  letter-spacing : normal;
  margin-bottom  : rem-calc(5);

  input[type="checkbox"] {
    display : none;

  }

  span {
    position     : relative;
    padding-left : rem-calc(5);
    color        : #919191;
    display      : inline-block;

    &::before {
      content          : "";
      z-index          : 0;
      display          : inline-block;
      left             : rem-calc(-15);
      top              : rem-calc(3);
      position         : absolute;
      width            : rem-calc(15);
      height           : rem-calc(15);
      border-radius    : rem-calc(2);
      border           : rem-calc(1) solid #d9d9d9;
      background-color : #ffffff;
    }
  }

  .icon.icon-check {
    position   : absolute;
    z-index    : 1;
    visibility : hidden;
    left       : rem-calc(-14);
    top        : rem-calc(5);
    width      : rem-calc(12);
    height     : rem-calc(10);
  }

  input[type='checkbox']:checked + span {
    color : black;
    .icon.icon-check {
      visibility : visible;
    }
  }
}